.banner {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  &__ScenicSpot {
    background-image: url("~/static/banner-index.png");
  }
  &__Restaurant {
    background-image: url("~/static/banner-restaurant.png");
  }
  &__Hotel {
    background-image: url("~/static/banner-hotel.png");
  }
  &__Activity {
    background-image: url("~/static/banner-activity.png");
  }
}